<h1>Students of Lornch Ablademy</h1>

<table>
  <tr>
    <th>Student Name</th>
    <th>Student Year</th>
    <th>Demerit Count</th>
  </tr>
  {{#each students }}
  <tr>
    <td>{{ this.name }}</td>
    <td>{{ this.year }}</td>
    <td>{{ this.demerit_count }}</td>
  </tr>
  {{/each}}
</table>
