<h1>Enroll New Student</h1>

</form>

<form action='/students' method='POST'>
  <div>
    <label>Name</label>
    <input type='text' name='student[name]' />
  </div>

  <div>
    <label>Year</label>
    <input type='text' name='student[year]' />
  </div>

  <div>
    <label>Demerit Count</label>
    <input type='text' name='student[demerit_count]' />
  </div>

  <div>
    <input type='submit' value='Enroll Student' />
  </div>
</form>
