<h1>All of the Grades for Students</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Grade</th>
    <th>Student Id</th>
  </tr>
  {{#each grades }}
  <tr>
    <td>{{ this.subject }}</td>
    <td>{{ this.grade_value }}</td>
    <td>{{ this.student_id }}</td>
  </tr>
  {{/each}}
</table>
